<div id="footer2">
    <div class="container">
        <div class="row" style="position: relative;">
            <div class="col-md-12">
                <div>
                    <p style="font-size: 20px">Don't Forget To Stay In Touch</p>
                </div>
                <div class="follow_us">

                    <a href="http://www.lilly.co.uk/en/careers/student/index.aspx" target="_blank" class="fa fa-globe follow_us"></a>
                    <a href="mailto:placement_program_uk_it@lilly.com" target="_blank" class="fa fa-envelope follow_us"></a>
                </div>
                <div class="copyright">
                <a href="http://lilly.co.uk/en/copyright-information.aspx" target="_blank">Copyright &copy;</a>
                <script>
                    document.write(new Date().getFullYear()) // Gets current year
                </script> Eli Lilly &amp; Company - <a href="http://lilly.co.uk/en/terms-and-conditions.aspx" target="_blank">Terms &amp; Conditions</a> - <a href="http://lilly.co.uk/en/privacy.aspx" target="_blank">Privacy</a>
            </div>
        </div>
    </div>
</div>
</div>
