
<script src="js/roletemplate.js"></script>
<script src="js/smooth-scroll.js"></script>
<div id="roleselection">

</div>

<div id="overview">


</div>

<div id='cards'>
{{>cards}}
</div>
<div id="genral_overview">
{{>student-program-overview}}
</div>
<div id="sa_overview">
{{>sa_student_overview}}
</div>

<div id="ba_overview">
{{>ba_student_overview}}
</div>

<div id="dev_overview">
{{>dev_student_overview}}
</div>


<div id="benefits">
{{>benefit}}
</div>

<div id="videos">
{{>student-video}}
</div>

<div id="curriculum">
{{>curriculum}}
</div>

<div id="locationevents">

</div>

<div id="howToApply">
<!-- Containing Timeline? -->
  {{>sa_timeline}}
</div>


<div id="hack">
	{{>hackathonview}}
</div>

<div id="FAQ's">
 {{>FAQ}}
</div>
